/* Attribute Selectors */
a {
    color: blue;
}

/* Links mit example überall im Code haben einen silbernen Hintergrund */
a[href*="example"] {
    background-color: silver;
}

/* Links die mit https starten und org aufhören sind grün */
a[href^="https"][href$=".org"] {
    color: green;
}

/* Alle divs mit einem lang attribute sind fett geschrieben. */
div[lang] {
    font-weight: bold;
}

/* Alle divs die Amerikanisch-Englisch sind, sind blau. */
div[lang~="en-us"] {
    color: blue;
}

/* Alle divs die Chinesisch sind, sind rot.
    Unabhänig davon ob vereinfacht oder traditionelles Chinesisch. */
div[lang|="zh"] {
    color: red;
    ;
}

/* Class Selectors */

/* Der article ist blau. */
.article {
    color: blue;
}

/* Die section ist rot. */
.section-article {
    color: red;
}

/* Der paragraph ist grün. */
.p-section-article {
    color: green;
}

/* Der header ist pink. */
.header {
    color: pink;
}

/* ID Selectors */

/* Jede id div hat den Hintergrund aqua. */
#div {
    background-color: aqua;
}

/* Type Selectors */

/* Bei jedem span ist der Hintergrund hellblau. */
span {
    background-color: lightblue;
}

/* Universal Selectors */

/* Wählt alle quotation aus und macht die violett. */
*.quotation {
    color: violet;
}
/* Wählt alle cite aus und macht die grün */
*#cite {
    color: green;
}

/* Würde alle class oder id in braun umwandeln. * {
    color: brown;
} */